@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* Title as a common class  */
.title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
/* Banner Section Style  */
.banner {
  height: 100vh; /*This value is learnt from youtube */
  background-color: #fceef1;
  background-image: url(./assets/pngwing\ 10.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 36%;
}
.banner-content {
  width: 40%; /*This value is learnt from Google */
  height: 100%;
  padding-left: 240px;
  display: flex;
  flex-direction: column; /*This value is learnt from Google */
  justify-content: center;
}
.banner-content h1 {
  color: #272727;
  font-size: 62px;
  font-weight: 800;
}
.banner-content p {
  margin: 32px 0;
  color: #aca3a5;
  font-size: 18px;
  line-height: 30px;
}
.banner-content button {
  width: 180px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 0;
  border: none;
}

/* Featured Section Style  */
.featured {
  background-color: #fff;
  margin: 120px 0 180px 0;
}
.f-subtitle {
  /*f-subtitle means Featured-subtitle */
  color: #aca3a5;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 25px 0 40px 0;
}
.f-content {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.f-content div {
  width: 400px;
  height: 480px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom center;
  border-radius: 300px 300px 0 0;
  position: relative;
}
.f-content div p {
  position: absolute;
  bottom: -12%;
  left: 28%;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}
.f-content .fig-1 {
  background-color: #f2dee7;
  background-image: url(./assets/pngwing\ 6.png);
}
.f-content .fig-2 {
  background-color: #d9eff1;
  background-image: url(./assets/pngwing\ 5.png);
  background-position: center center;
  background-size: 90%;
}
.f-content .fig-3 {
  background-color: #e3ebdb;
  background-image: url(./assets/pngwing\ 7.png);
}

/* Speciality Section Style  */
.special {
  width: 1160px;
  background-color: #f4f4f4;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
.s-item img {
  display: block;
  width: 90px;
  margin: 0 auto;
}
.s-item p {
  /* s-item means special-items */
  color: #272727cc;
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0;
  border-radius: 8px;
}

/* Discount Section Style   */
.discount-container {
  width: 100%;
  background-color: #fef6f8;
  margin: 130px 0;
  display: flex;
  gap: 200px;
  justify-content: center;
  padding: 100px 0;
}
.d-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.d-info h1 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.d-info p {
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0;
}
.d-info span {
  color: #e55473;
}
.d-info button {
  width: 180px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 0;
  border: none;
}
.d-img img {
  width: 320px;
}

/* Instagram Section Style  */
.i-subtitle {
  color: #aca3a5;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 25px 0 40px 0;
}
.insta-imgs {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.insta-imgs img {
  width: 300px;
}

/* Subscription Section Style  */
.sub-container {
  width: 1260px;
  margin: 130px auto;
  background-image: url(./assets/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 120px 0;
}
.sub-container h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.sub-container p {
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}
.sub-container input[type="email"] {
  border: none;
  width: 700px;
  padding: 20px 20px;
  font-size: 20px;
  border-radius: 8px;
  outline: none;
}
.sub-container input[type="submit"] {
  width: 180px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 0;
  border: none;
  margin-left: 15px;
}

/* Footer Style  */
footer {
  background-color: #111010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  color: #fff;
  padding: 130px 0;
}
footer h1 {
  font-size: 48px;
  font-weight: 800;
}
footer span {
  color: #e55473;
}
.f-description {
  color: #ffffffe6;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}
footer .copy-r {
  color: #ffffff66;
  font-size: 16px;
}
